<form method="post" action="{{ path('announces_delete', {'id': announce.id}) }}" onsubmit="return confirm('Voullez-vous vraiment supprimer votre annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
    <button class="btn btn-danger mb-5">Supprimmer l'annonce</button>
</form>
