{% extends 'base.html.twig' %}

{% block title %}Edit Announces{% endblock %}

{% block body %}
    <h1>Editer votre annonce</h1>

    <div id="edit">
        {{ include('announces/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    {{ include('announces/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
<script src="/js/editButton.js"></script>
{% endblock %}
