{% extends 'base.html.twig' %}

{% block title %}Fonctionnement{% endblock %}

{% block body %}
<div class="register">
    <div class="col-8 bloc_register">
        <h1>Mon TOUTOU</h1>
        <h2 class="subtitle">La démarche</h2>
        <p class="mt-3 ms-2" id="paragraphe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit error iste quia facere, temporibus, eaque distinctio aliquid nostrum, incidunt recusandae ea vitae fugit! Molestiae nisi molestias, magnam ullam voluptatem voluptatibus?
        Dolorum soluta cupiditate velit aut eum nemo consequuntur minima omnis. Pariatur, dolores fugiat nihil non nostrum atque magnam illo provident excepturi dolorum hic vitae modi. Vitae eveniet repellendus obcaecati facilis?
        Ab, adipisci consequatur veniam suscipit temporibus praesentium ea delectus laborum sint quod cum eveniet autem cumque odit at sapiente error unde tenetur? Vero culpa perspiciatis doloribus consequuntur expedita, id dolores!
        Possimus obcaecati iste architecto unde optio. A quam amet nam velit dolor explicabo porro laboriosam illum animi debitis cum in unde, culpa voluptas maxime earum laudantium sapiente modi consequuntur iste.
        Consequuntur suscipit dolore, officia quasi quod tenetur eveniet aliquam natus quibusdam eaque dolorum quas pariatur a perspiciatis cupiditate? Vel nam ullam beatae recusandae quos porro maxime delectus qui, voluptas tempore?
        Consequatur, temporibus eos adipisci labore cum sed id rem dolores odit nam optio, repellendus alias doloribus quidem quam cumque nobis modi veniam magni. Nulla ullam ad error libero dicta iste?
        Exercitationem magni obcaecati iste consequatur corporis culpa, tempora, quos ab quaerat rem nostrum ex nisi explicabo, numquam saepe. Debitis repellendus nemo suscipit, ad harum ratione? Non neque recusandae ipsum aliquam!
        Iusto pariatur voluptatum doloremque beatae soluta quasi officiis! Hic accusamus expedita quam sint suscipit facilis unde, atque nesciunt illum, reprehenderit soluta quidem excepturi minus saepe possimus sequi voluptas? Libero, iure.
        Inventore odit aut amet. Necessitatibus nulla beatae doloremque minima vero exercitationem, quidem vel aspernatur atque nam saepe dolores consectetur. Sapiente soluta hic labore odit facere quaerat, iusto in unde enim.
        Eveniet, autem ratione repellat nobis dignissimos eligendi voluptatem inventore officiis blanditiis sequi a exercitationem praesentium magnam distinctio odit ullam numquam tempora hic assumenda quod eum suscipit! Accusantium iusto dicta dolores.</p>
    </div>
    <div class="col-4">
        <img class="img_footer" src="image/dogs/dog_login5.jpg" alt="">
    </div>
</div>
{% endblock %}
