<div id="footer">
  <ul>
    <img id="logo_navbar" src="../image/logo/Logo_Sans_texte.png" alt=""> © MON TOUTOU 2021
    <p>Le site web d'annonces de gardiennage exclusivement de particulier à particulier</p> 
  </ul>
  <ul>
    INFOS PRATIQUES
    <li><a href="">Comment ça fonctionne?</a></li>
    <li><a href="">Foire aux quesqtions</a></li>
    <li><a href="">La démarche</a></li>
  </ul>
  <ul>
    MON TOUTOU
    <li><a href="">Garde de chiens</a></li>
  </ul>
</div>