<div id="footer">
  <ul>
    <li><img class="logo_navbar" src="../image/logo/Logo_Sans_Texte.png" alt="Logo du site MonTOUTOU"> © MON TOUTOU 2021</li>
    <li id="txt_footer">Le site web d'annonces de gardiennage exclusivement de particulier à particulier</li> 
  </ul>
  <ul>
    <li class="title_footer">INFOS PRATIQUES</li> 
    <li><a href="{{ path("footer_fonctionnement") }}">Comment ça fonctionne?</a></li>
    <li><a href="{{ path("footer_faq") }}">Foire aux quesqtions</a></li>
    <li><a href="{{ path("footer_demarche") }}">La démarche</a></li>
  </ul>
  <ul>
    <li class="title_footer">MON TOUTOU</li> 
    <li><a href="">Garde de chiens</a></li>
  </ul>
</div>